@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto-Medium";
    src: local("roboto-Medium"),
     url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
    /* font-weight: bold; */
   }

   @font-face {
    font-family: "roboto-Regular";
    src: local("roboto-Regular"),
     url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    /* font-weight: bold; */
   }

   @font-face {
    font-family: "roboto-Light";
    src: local("roboto-Light"),
     url("./assets/fonts/Roboto-Light.ttf") format("truetype");
    /* font-weight: bold; */
   }

   @font-face {
    font-family: "roboto-Thin";
    src: local("roboto-Thin"),
     url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
    /* font-weight: bold; */
   }

   

   .font_Roboto_Medium {
    font-family: "roboto-Medium" ;
   }

   .font_Roboto_Regular {
    font-family: "roboto-Regular" ;
   }

   .font_Roboto_Light {
    font-family: "roboto-Light" ;
   }

   .font_Roboto_Thin {
    font-family: "roboto-Thin" ;
   }

